/* --------google fonts-------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* Common styles */
body {
  margin: 0;
  padding: 0;
  background: rgb(221, 221, 255);
  font-family: "Poppins", sans-serif;
}
/*---------------------- 
Navigation menu styles
----------------------- */
nav {
  background: blue;
  color: white;
  display: flex;
  justify-content: space-between;
}
nav .logo {
  display: flex;
}
.logo h1 {
  font-size: 40px;
  line-height: 0;
}
.menu {
  display: flex;
  align-items: center;
}
.menu a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 0 30px;
  line-height: 65px;
}
.menu a:hover {
  background-color: #0202df;
}
.round_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/* ---------
top players
-------- */
section {
  background-color: white;
  max-width: 800px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 1% 3%;
}
.section_title {
  color: blue;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 10px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  margin-right: 20px;
}
hr {
  margin: 20px 0;
}
/* --------
top blogs
------ */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
}
.blog {
  display: flex;
}
.rect_img {
  width: 100px;
  height: 200ps;
}
.blog img {
  margin-right: 20px;
}
.blog a {
  text-decoration: none;
  color: blue;
}

/*---------------
 Latest courses 
 ---------------------- */
.latest_courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course {
  min-width: 28%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(194, 194, 194);
}
.course a {
  text-decoration: none;
  color: orangered;
}
.course_info {
  display: flex;
  justify-content: space-between;
}
.course_info {
  color: gray;
}
.course_info span {
  color: orange;
}
.duration {
  background-color: rgba(255, 68, 0, 0.205);
  padding: 0 5px;
  border-radius: 25px;
  color: orangered;
}
/* ----------footter----------- */
footer {
  background-color: blue;
  color: white;
  text-align: center;
  padding: 5px 0;
}

/* ==================
@Media min-width & max-width
=================== */

@media only screen and (max-device-width: 768px) {
  section {
    max-width: 740px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    min-width: 90%;
  }
}

/* ----------------Small medias---------------- */
@media only screen and (max-device-width: 480px) {
  section {
    max-width: 450px;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .player {
    flex-direction: column;
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .course {
    min-width: 90%;
  }
}
